<div class="simple-container">
    <h3>Codis列表</h3>
     {{ error }}
    <table mat-table [dataSource]="codislist">
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let row"> {{row.ID}} </td>
        </ng-container>
        <ng-container matColumnDef="Cname">
            <th mat-header-cell *matHeaderCellDef> name </th>
            <td mat-cell *matCellDef="let row"> {{row.Cname}} </td>
        </ng-container>
        <ng-container matColumnDef="Curl">
          <th mat-header-cell *matHeaderCellDef> Codis Url </th>
          <td mat-cell *matCellDef="let row"> {{row.Curl}} </td>
        </ng-container>
        <ng-container matColumnDef="CreatedAt">
            <th mat-header-cell *matHeaderCellDef> time </th>
            <td mat-cell *matCellDef="let row"> {{row.CreatedAt}} </td>
        </ng-container>
        <ng-container matColumnDef="management">
            <th mat-header-cell *matHeaderCellDef> option </th>
            <td mat-cell *matCellDef="let row">
                <button mat-button color="primary">Edit</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator 
        [length]="codistotalCount" 
        [pageIndex]="0" 
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 15]">
    </mat-paginator>
    
</div>
  