.simple-container {
    padding: 0 24px;
}
  
.mat-table {
    width: 100%;
}
  
.mat-table .mat-row:hover {
    transition: background-color 200ms;
    background-color: rgba(0, 0, 0, 0.05);
}
  
/* button {
    margin: 10px 0;
} */

.mat-tab-group {
    margin-bottom: 48px;
}

section {
    display: table;
}
.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}
  
.example-button-row {
    display: table-cell;
    max-width: 600px;
}
  
.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.subtitle {
    font-size: 14px;
}

.spacer {
    flex: 1 1 auto;
}
