.spacer {
    flex: 1 1 auto;
}

.title {
    margin: 0 16px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .02em;
}

.subtitle {
    font-size: 14px;
}

.headerline {
    display: inline-block;
    width: 2px;
    background-color: #999;
    margin: 8px 20px;
    font-size: 14px;
}

mat-toolbar {
    position: relative;
    z-index: 10;
}

