.tab-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.search-box {
    padding: 0 16px;
}

.mat-expansion-panel-header {
    padding: 0 16px;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0!important;
}

.app-select-item {
    display: flex;
    height: 48px;
    padding: 0 32px;
    align-items: center;
}

.app-select-option {
    cursor: pointer;
    transition: background-color .3s cubic-bezier(.4, 0, .2, 1);
}

.app-select-option:hover:not(.env-active) {
    background-color: rgba(0, 0, 0, 0.08);
}