<div class="tab-container">
    <h3>管理列表</h3>
</div>

  <mat-accordion displayMode="flat">
    <mat-expansion-panel >
        <mat-expansion-panel-header>Dashboard</mat-expansion-panel-header>
        <div (click)="select('dashboard')" class="app-select-item app-select-option">Dashboard</div>
        <div (click)="select('user')" class="app-select-item app-select-option">User</div>
    </mat-expansion-panel>
    <mat-expansion-panel >
        <mat-expansion-panel-header>Codis</mat-expansion-panel-header>
        <div (click)="select('codis')" class="app-select-item app-select-option">Manager</div>
        <div (click)="select('opcodis')" class="app-select-item app-select-option">Operation</div>
    </mat-expansion-panel>
    <mat-expansion-panel >
        <mat-expansion-panel-header>Redis</mat-expansion-panel-header>
        <div (click)="select('redis')" class="app-select-item app-select-option">Manager</div>
        <div (click)="select('opredis')" class="app-select-item app-select-option">Operation</div>
    </mat-expansion-panel>
  </mat-accordion>
  