<mat-sidenav-container>
    <mat-sidenav [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)"
    class="mat-elevation-z1">
    <app-select (onSelect)="selectApp($event)"></app-select>
  </mat-sidenav>
    <mat-sidenav-content fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="0 0 calc(160px)">
      </div>
      <div fxFlex="1 1" fxFlexFill *ngIf="appuri == 'dashboard'">
        <!-- {{ appuri }} -->
       <app-dashboard></app-dashboard>
      </div>
      <div fxFlex="1 1" fxFlexFill *ngIf="appuri == 'user'">
         <!-- {{ appuri }} -->
         <app-user></app-user>
      </div>  
      <div fxFlex="1 1" fxFlexFill *ngIf="appuri == 'codis'">
        <!-- {{ appuri }} -->
        <app-codis></app-codis>
     </div>  
     <div fxFlex="1 1" fxFlexFill *ngIf="appuri == 'redis'">
      <!-- {{ appuri }} -->
      <app-redis></app-redis>
   </div>  
    </mat-sidenav-content>
  </mat-sidenav-container>
  